*{
    font-family: "DejaVu Sans", sans-serif;
}


.flex-container_v {
    background: rgb(154, 246, 176);
    border: 2px solid brown;
    display: flex; 
    margin: 2px;
    flex-direction: column;
    flex: 1 1 auto;
}

.flex-container {
    background: rgb(154, 246, 176);
    border: 2px solid brown;
    display: flex; 
    margin: 2px;
    flex: 1 1 auto;
}
  
/* this selector selects all divs inside of .flex-container */
.flex-container > div {
    background: peachpuff;
    border: 2px solid brown;
    margin: 2px;
    height: 200px;
    flex: 1 1 auto;
}

.flex-container > div.one {
    background: peachpuff;
    text-align: center;
}